/* @tailwind base;
@tailwind components;
@tailwind utilities; */

html,
body,
* {
  padding: 0;
  margin: 0;
  /* font-family: -apple-systenamem, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  /* font-family: "metropolis", Arial, Helvetica, sans-serif; */
  box-sizing: border-box;
  font-size: 1.6rem/1.5;
  font-weight: 100;
}
::-webkit-scrollbar {
  width: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  max-width: 1400px;
  margin: auto;
  width: 100%;
}
.layout {
  min-height: 100vh;
  background-color: #fafafa;
}
.bottom-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
}
.copyright {
  display: flex;
  gap: 20px;
}
.footer-links {
  padding: 10px;
  display: flex;
  /* width: 50%; */
  justify-content: space-evenly;
  align-items: center;
}
.footer-links a {
  padding: 5px;
}
.footer-links a:hover {
  border-bottom: 2px solid black;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 6px 18px; */
  width: 100%;
  z-index: 100;
  padding: 15px;
  height: 15vh;
  position: relative;
  color: white;
  background-color: #121212;
}

.marquee-text {
  font-size: 29px;
  font-weight: 600;
  margin: 60px 0px;
  color: #f02d34;
}
.marquee {
  position: relative;
  height: 400px;
  width: 100%;
  overflow-x: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 15s linear infinite;
  width: 180%;
}
.track:hover {
  animation-play-state: paused;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

span.text-red {
  -webkit-text-stroke: 1px #f02d34;
  margin-left: 6px;
}
.logo {
  color: white;
  padding: 20px;
  font-size: 18px;
  width: 160px;
}
.cart-icon {
  font-size: 25px;
  color: white;
  cursor: pointer;
  position: relative;
  transition: transform 0.4s ease;
  border: none;
  background-color: transparent;
}
.cart-icon:hover {
  transform: scale(1.1, 1.1);
}
.subquestions-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  padding: 20px;
}
.subquestions-container h4 {
  padding: 10px;
}
.answers-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 80%;
  height: fit-content;
}
.answers-container h1 {
  padding: 20px;
  font-size: 1rem;
  font-weight: 600;
}
.subquestions-container h4:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
.answers-container ul {
  padding: 20px;
}
.answers-container p {
  line-height: 1.5rem;
}
.about-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.navigator span:hover {
  cursor: pointer;
}
.about-container h1 {
  padding: 20px;
  font-size: 3rem;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  width: 100%;
}
.qa-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.questions {
  padding: 20px;
  /* background-color: #121212; */
  /* color: white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vw;
  height: 25vh;
  border: 1px solid lightgrey;
  justify-content: space-between;
}
.questions:hover {
  background-color: #121212;
  color: white;
  cursor: pointer;
}
.questions svg:hover {
  stroke: white;
}
.categories-container {
  display: flex;
  align-items: center;
  height: 10vh;
  color: black;
  background-color: #fff;
  border-bottom: 1px solid #f1f1f1;
}

/* .active {
  /* background-color: #1f0a4e; */
/* color: #fad318;
} */

.category {
  padding: 10px;
  font-weight: 500;
  color: black;
  height: 10vh;
  display: flex;
  align-items: center;
}
.bottom-products-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-title {
  padding: 20px;
  font-size: 2rem;
  font-weight: 800;
  width: 100%;
  display: flex;
  height: 30vh;
  background-color: #f1f1f1;
  align-items: center;
}

.category-card {
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  color: black;
}

.category-card:hover {
  transform: scale(1.1, 1.1);
}

.category-image {
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.category:hover {
  background-color: #f8f8f8;
  /* color: white; */
  cursor: pointer;
}

.cart-item-qty {
  position: absolute;
  right: -8px;
  font-size: 12px;
  padding-top: 2px;
  color: #eee;
  background-color: #f02d34;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
}
.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  width: 100%;
}

.search-icon-sm {
  display: none;
  font-size: 1.5rem;
  margin-right: 5px;
}

.times-icon-sm {
  margin-top: 5px;
  font-size: 1.5rem;
  position: relative;
  z-index: 600;
}

.cart-products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
  width: 60%;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
}
.total-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: space-between;
  height: 25vh;
  margin: 20px;
  position: absolute;
  right: 20px;
}
.purchase-btn {
  padding: 15px;
  background-color: #282a30;
  color: white;
  border: none;
  border-radius: 5px;
}
.checkout-total {
  width: 100%;
  display: flex;
  border-top: 1px solid lightgrey;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  color: #000;
  font-size: 0.8rem;
}
.cart-product-image:hover {
  cursor: pointer;
}
.checkout-product-image {
  width: 80px;
  height: 100px;
}
.checkout-product-image:hover {
  cursor: pointer;
}

.maylike-product-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 190px;
  margin: 10px;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.maylike-product-card:hover {
  transform: scale(1.1, 1.1);
}

.product-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 190px;
  margin: 10px;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.product-card:hover {
  transform: scale(1.1, 1.1);
}
.maylike-product-image {
  /* margin: 10px; */
  /* width: 100%; */
  background-color: #ebebeb;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.product-image {
  /* margin: 10px; */
  /* width: 100%; */
  background-color: #ebebeb;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.sorting-container {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.logo-searchbar-container {
  display: flex;
  width: 70%;
  justify-content: flex-start;
  height: 15vh;
  align-items: center;
}

.searchbar-wrapper {
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  /* will-change: transform; */
  transition: all 1s ease-in-out;
}

.searchbar-container {
  position: relative;
  width: 100%;
  z-index: 100;
}

.logoandinput-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #121212;
  border: 1px solid #414141;
  border-radius: 5px;
}

.shadow {
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}

.search-hits {
  position: absolute;
  padding: 10px;
  /* border: 1px solid #4618ac; */
  border-top: none;
  background-color: rgba(1, 1, 1, 0.5);
  z-index: 6;
  width: 100%;
  max-height: 60vh;
  overflow: auto;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.2;
}

.suggestion {
  /* padding: 10px; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 15vh;
  position: relative;
}

.search-img {
  width: 72px;
  height: 90%;
  position: absolute;
  left: 10px;
}

.search-price {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 0.8rem;
}

.search-name {
  max-width: 70%;
  position: absolute;
  left: 6rem;
  padding-left: 10px;
  padding-right: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.algolia-search {
  width: 100%;
}

.active-input {
  background-color: #230c56;
}

.searchbar {
  font-size: 15px;
  width: 100%;
  background-color: #121212;
  padding: 20px;
  border: none;
  color: white;
}

input:focus {
  outline: none;
}

/* .searchbar::placeholder {
  color: #aa95d9;
}

.big-input::placeholder {
  color: #aa95d9;
} */

.searchbar:focus {
  outline: none;
}

.big-input:focus {
  /* background-color: #230c56; */
  outline: none;
}

.search-icon {
  padding: 5px 0px 5px 5px;
  font-size: 2.5rem;
  color: #000;
}

.form-container {
  display: flex;
  border: 1px solid white;
  align-items: center;
}

.loaderIcon {
  font-size: 35px;
  color: white;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
.maylike-product-name {
  color: black;
  font-weight: 500;
  line-height: 1.5rem;
  width: 100%;
  overflow: hidden;
  height: fit-content;
  text-align: left;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* start showing ellipsis when 3rd line is reached */
  white-space: pre-wrap; /* let the text wrap preserving spaces */
  padding: 5px;
}
.product-name {
  color: black;
  font-weight: 500;
  line-height: 1.5rem;
  width: 100%;
  overflow: hidden;
  height: fit-content;
  text-align: left;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* start showing ellipsis when 3rd line is reached */
  white-space: pre-wrap; /* let the text wrap preserving spaces */
  padding: 5px;
}

header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.menu {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 80%;
  height: 85vh;
  top: 0;
  background-color: white;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}

.menu-category {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 20px;
  border-top: 1px solid black;
}
.arrow-right {
  position: absolute;
  right: 10px;
  font-size: 25px;
}

.menu-category:hover {
  background-color: #121212;
  color: white;
  cursor: pointer;
}

.bottom-category {
  border-bottom: 1px solid black;
}

.hamburger-icon {
  display: none;
}
.maylike-product-price {
  font-weight: 900;
  font-size: 1.2rem;
  margin-top: 6px;
  margin-bottom: 10px;
  padding: 10px;
  color: black;
}
.product-price {
  font-weight: 900;
  font-size: 1.2rem;
  margin-top: 6px;
  margin-bottom: 10px;
  padding: 10px;
  color: black;
}

.hero-banner-container {
  padding: 100px 40px;
  position: relative;
  height: 500px;
  line-height: 0.9;
  width: 100%;
  background-size: auto 500px;
  /* background-repeat: no-repeat; */
}
.hero-banner-container .beats-solo {
  font-size: 20px;
}
.hero-banner-container button {
  border-radius: 15px;
  padding: 10px 16px;
  background-color: #f02d34;
  color: white;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  z-index: 10000 !important;
}

.hero-banner-container h3 {
  font-size: 4rem;
  margin-top: 4px;
  color: #000;
}
.hero-banner-container h1 {
  color: black;
  font-size: 2.5em;
  /* margin-left: -20px; */
  text-transform: uppercase;
}
.labelandinput-container {
  display: flex;
  width: 100%;
  /* padding: 20px; */
  flex-wrap: wrap;
  height: 100%;
  gap: 20px;
  flex-direction: column;
  align-items: flex-end;
}
.labelandinput-container div {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}
.payment-info {
  padding: 20px;
}
.payment-info input {
  padding: 15px;
  border: 1px solid lightgrey;
}
.labelandinput-container input {
  padding: 15px;
  border: 1px solid lightgrey;
}
.checkout-info-container {
  width: 60%;
}
.checkout-info-container label {
  padding: 10px 0;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}
.checkout-info-button {
  width: fit-content;
  padding: 10px;
  background-color: #121212;
  color: white;
  border: none;
  border-radius: 5px;
}
.checkout-info-button:hover {
  cursor: pointer;
}
.info-details-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
}
.checkout-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.checkout-products-container {
  margin: 0;
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  /* margin-top: 20px; */
  width: 40%;
  /* align-items: center; */
  justify-content: flex-start;
  background-color: white;
  flex-direction: column;
}
.payment-page-container {
  width: 60%;
}
.bigass-container {
  /* padding: 20px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.payment-div-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px 0;
}
.payment-div-container h1 {
  padding: 10px 0;
}
.update-products-container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #f1f1f1;
  width: 90%;
  background-color: white;
  border-radius: 5px;
}
.update-products-container p:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
}
.checkout-contact-container {
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #f1f1f1;
  width: 100%;
}
.checkout-contact-container div {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.upper-category:hover {
  background-color: white;
  color: black;
}
.cart-products-header {
  padding: 20px;
  width: 100%;
  text-align: center;
  background-color: #121212;
  color: white;
}
.checkout-products-header {
  padding: 20px;
  width: 100%;
  text-align: center;
}
.desc {
  position: absolute;
  right: 10%;
  bottom: 5%;
  width: 300px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  /* color: #324d67; */
  color: rgb(203, 203, 203);
}

.desc p {
  color: #5f5f5f;
  font-weight: 100;
  text-align: end;
}
.desc h5 {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
  /* color: black; */
  align-self: flex-end;
}
.products-heading {
  display: flex;
  text-align: center;
  margin: 40px 0px;
  color: black;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.famous-categories-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.famous-categories-heading {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding: 10px;
  margin: 40px 0px;
}
.famous-categories-heading h2 {
  font-size: 2rem;
  font-weight: 800;
  color: black;
  margin-left: 20px;
}
.products-heading h2 {
  font-size: 2rem;
  font-weight: 800;
  color: black;
  margin-left: 20px;
}
.pagination-btns {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}
.pagination-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}
/* .pagination-btn:active {
  background-color: #121212;
  color: white;
} */
.active {
  background-color: #121212;
  color: white;
}
.contact-input {
  width: 100%;
  padding: 15px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.contact-btn {
  padding: 10px 15px;
  border: 1px solid #121212;
  background-color: #121212;
  color: white;
  border-radius: 5px;
}
.contact-btn:hover {
  cursor: pointer;
}
.contact-form-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.requestgame-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 40vh;
  background-color: #121212;
  color: white;
  flex-direction: column;
}
.instantdelivery-container {
  display: flex;
  margin: 50px 0;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
textarea:focus {
  outline: none;
}
.inputs-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 10px;
  padding: 20px;
  align-items: flex-start;
  justify-content: center;
}
.contactus-header {
  display: flex;
  flex-direction: column;
  height: 30vh;
  align-items: center;
  padding: 20px;
  justify-content: center;
  width: 100%;
}
.pagination-btn:hover {
  cursor: pointer;
}
.products-heading p {
  font-size: 16px;
  font-weight: 200;
  color: #000;
}
.seemore {
  /* position: absolute; */
  /* right: 0; */
  background-color: black;
  color: white;
  margin-right: 20px;
  /* text-align: center; */
  padding: 10px;
  border-radius: 3px;
}
.footer-banner-container {
  padding: 100px 40px;
  background-color: #f02d34;
  border-radius: 15px;
  position: relative;
  height: 400px;
  line-height: 1;
  color: white;
  width: 100%;
  margin-top: 120px;
}
.banner-desc {
  display: flex;
  justify-content: space-between;
}
.banner-desc button {
  border-radius: 15px;
  padding: 10px 16px;
  background-color: white;
  color: red;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.banner-desc .left h3 {
  font-weight: 900;
  font-size: 80px;
  margin-left: 25px;
}
.banner-desc .left p {
  margin: 18px;
}
.footer-banner-image {
  width: 10em;
  height: 20em;
  position: absolute;
  top: 15%;
  /* left: 8%; */
  /* top: -25%; */
  right: 25%;
}
.banner-desc .right {
  line-height: 1.4;
}
.banner-desc .right h3 {
  font-weight: 800;
  font-size: 60px;
}
.banner-desc .right p {
  font-size: 18px;
}
.banner-desc .right .company-desc {
  font-size: 14px;
  font-weight: 300;
}
.cart-wrapper {
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  /* will-change: transform; */
  transition: all 1s ease-in-out;
}
.cart-container {
  height: 100vh;
  width: 600px;
  background-color: white;
  float: right;
  padding: 0px 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container {
  color: black;
  text-align: center;
  margin-top: 20px;
  padding: 30px 10px;
  font-weight: 700;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 10px;
  height: fit-content;
  justify-content: space-evenly;
  background-color: #fff;
  position: relative;
}
.footer-container .icons {
  font-size: 30px;
  display: flex;
  gap: 10px;
}
.cart-heading {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap: 2px;
  margin-left: 10px;
  background-color: transparent;
  width: 100%;
  height: 15vh;
  border: none;
  border-bottom: 1px solid #f1f1f1;
  position: absolute;
  top: 0;
}

.cart-heading .heading {
  margin-left: 10px;
}
.cart-num-items {
  margin-left: 10px;
  color: darkgrey;
}
.empty-cart {
  width: 70%;
  /* margin: 40px; */
  text-align: center;
  color: black;
}
.empty-cart h3 {
  font-weight: 600;
  font-size: 20px;
}
.cancel {
  cursor: pointer;
}
.product-container {
  margin-top: 15px;
  overflow: auto;
  height: 60vh;
  width: 100%;
  /* padding: 20px 10px; */
  /* border-bottom: 1px solid lightgrey; */
}
.cart-page-container {
  display: flex;
}
.product {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  border-bottom: 1px solid #f1f1f1;
}
.product .cart-product-image {
  background-color: #ebebeb;
}
.item-desc {
  width: 100%;
}
.item-desc .flex {
  display: flex;
  justify-content: space-between;
  /* width: 350px; */
  color: black;
}
.item-desc .bottom {
  margin-top: 40px;
  display: flex;
  align-items: center;
}
.flex h5 {
  font-size: 1rem;
  max-width: 80%;
}
.flex h4 {
  font-size: 1rem;
}
.total {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #000;
  font-size: 1rem;
}
.remove-item {
  display: flex;
  font-size: 24px;
  color: black;
  /* cursor: pointer; */
  background: transparent;
  border: none;
}

.remove-item svg:hover {
  cursor: pointer;
  color: red;
}

.cart-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20vh;
  padding: 30px 65px;
  border-top: 1px solid #f1f1f1;
  background-color: white;
}

.btn-container {
  width: 400px;
  margin: auto;
}
.btn {
  width: 100%;
  max-width: 400px;
  padding: 8px 8px;
  border-radius: 15px;
  border: none;
  font-size: 15px;
  font-weight: 700;
  margin-top: 10px;
  /* margin-top: 40px; */
  text-transform: uppercase;
  /* background-color: #fad318; */
  /* color: #fff; */
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.btn:hover {
  transform: scale(1.1, 1.1);
}
.product-detail-container {
  display: flex;
  gap: 40px;
  /* margin-left: 0 40px 0 40px; */
  /* margin-top: 60px; */
  padding: 20px;
}

.product-detail-image {
  background-color: #ebebeb;
  width: 300px;
  height: 400px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.product-detail-image:hover {
  background-color: #f02d34;
}
.small-images-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.small-image {
  border-radius: 8px;
  background-color: #ebebeb;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.selected-image {
  background-color: #f02d34;
}
.reviews {
  color: #fad318;
  margin-top: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.product-detail-desc h4 {
  margin-top: 10px;
}
.product-detail-desc p {
  margin-top: 10px;
}
.reviews p {
  font-weight: 300;
  margin-top: 0px;
  padding-bottom: 6px;
}
.product-detail-desc .price {
  font-weight: 700;
  font-size: 26px;
  margin-top: 30px;
  /* color: #fad318; */
}
.price .old-price,
.product-price .old-price,
.price .old-price,
.maylike-product-price {
  color: gray;
  text-decoration: line-through;
}
.product-detail-desc .quantity {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  align-items: center;
}
.product-detail-desc .buttons {
  display: flex;
  gap: 30px;
}
.buttons .add-to-cart {
  padding: 10px 20px;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  background-color: #282a30;
  color: white;
  cursor: pointer;
  width: 200px;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.buttons .add-to-cart:hover {
  transform: scale(1.1, 1.1);
}
.buttons .buy-now {
  width: 200px;
  padding: 10px 20px;
  background-color: white;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.big-input {
  width: 80%;
  position: absolute;
  padding: 5px;
  right: 2.8rem;
  border: 1px solid white;
  opacity: 0;
  background-color: #4618ac;
  pointer-events: none;
}

.opensearch {
  opacity: 1;
  pointer-events: auto;
}
.game-category {
  padding: 10px;
  /* width: 10%; */
  font-size: 0.8rem;
}
.game-category:hover {
  background-color: #f1f1f1;
  /* color: white; */
}
.games-data {
  position: absolute;
  z-index: 700;
  top: 100%;
  /* bottom: 0; */
  left: 0;
  height: 30vh;
  background-color: white;
  color: black;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.upper-cat-container {
  display: flex;
  align-items: center;
}

.buttons .buy-now:hover {
  transform: scale(1.1, 1.1);
}
.quantity-desc {
  padding: 6px;
}
.quantity-desc span {
  font-size: 16px;
  padding: 6px;
  cursor: pointer;
}
.quantity-desc .minus {
  color: #000;
}
.quantity-desc .num {
  font-size: 16px;
}
.quantity-desc .plus {
  color: black;
}

.quantity-desc .plus:hover {
  background-color: #f1f1f1;
  /* border: 1px solid #fad318; */
}

.quantity-desc .minus:hover {
  background-color: #f1f1f1;
  /* border: 1px solid #fad318; */
}

.maylike-products-wrapper {
  margin-top: 120px;
}
.hide {
  display: none;
}
.maylike-products-wrapper h2 {
  text-align: center;
  margin: 50px;
  font-size: 28px;
}
.maylike-products-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}
.max-qty {
  font-weight: 500;
  color: #f02d34;
}
.success-wrapper,
.cancel-wrapper {
  background-color: white;
  min-height: 60vh;
}
.hidden {
  display: none;
}
.order-complete-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.order-complete-container h1 {
  padding: 20px;
}
.order-complete-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.unclickable {
  color: #f8f8f8;
}
.order-complete-buttons button {
  padding: 5px;
  border: 1px solid #121212;
  background-color: #121212;
  color: white;
  border-radius: 5px;
}
.answers-container img {
  padding: 10px;
}
.answers-container a {
  color: blueviolet;
}
#pay {
  padding: 10px;
  margin: 10px 0;
  width: 90%;
  background-color: #121212;
  color: white;
  border: 1px solid #121212;
  border-radius: 5px;
}
#pay:hover {
  cursor: pointer;
}
.success,
.cancel {
  width: 1000px;
  margin: auto;
  margin-top: 160px;
  background-color: #dcdcdc;
  padding: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.success .icon {
  color: green;
  font-size: 40px;
}
.success h2 {
  text-transform: capitalize;
  margin-top: 15px 0px;
  font-weight: 900;
  font-size: 40px;
  color: #324d67;
}
.success .email-msg {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.cancel p {
  font-size: 20px;
  font-weight: 600;
}
.success .description {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 10px;
  margin-top: 30px;
}
.success .description .email {
  margin-left: 5px;
  color: #f02d34;
}
.product-max-qty {
  margin-top: 10px;
}

@media screen and (max-width: 800px) {
  .categories-container {
    display: none;
  }
  .product-image {
    width: 70px;
    height: 90px;
  }
  .hamburger-icon {
    display: inline-block;
  }
  .category-image {
    width: 80px;
    height: 100px;
  }
  .product-card {
    width: 80vw;
    flex-direction: row;
    height: 120px;
  }
  .hero-banner-image {
    width: 77%;
    height: 62%;
    top: -2%;
    right: -6%;
  }
  .payment-page-container {
    width: 100%;
  }
  .checkout-contact-container div {
    flex-direction: column;
  }
  .checkout-contact-container span {
    padding: 5px 0;
  }
  .answers-container img {
    /* color: transparent; */
    width: 120%;
    height: 120%;
  }
  .labelandinput-container {
    align-items: center;
  }
  .labelandinput-container div {
    flex-wrap: wrap;
  }
  .footer-banner-container {
    height: 560px;
    margin-top: 80px;
  }
  .footer-banner-image {
    width: 77%;
    left: 30%;
    top: 6%;
    height: 56%;
  }
  .search-icon-sm {
    margin-top: 5px;
    display: inline-block;
  }
  .searchbar-container {
    /* display: none; */
    position: absolute;
    right: 1%;
    width: 96%;
  }
  .inputs-container {
    width: 100%;
  }
  .banner-desc .left h3 {
    font-weight: 900;
    font-size: 50px;
    margin-left: 5px;
  }
  .footer-container {
    flex-direction: column;
  }
  .footer-payment-container {
    margin-top: 50px;
  }
  .checkout-products-container {
    width: 80%;
  }
  .checkout-container {
    flex-direction: column;
    align-items: center;
  }
  .bottom-footer {
    flex-direction: column;
  }
  .copyright {
    padding-top: 20px;
  }
  .banner-desc .left p {
    margin: 18px;
  }
  .banner-desc .right h3 {
    font-size: 45px;
  }
  .banner-desc .right p {
    font-size: 18px;
  }
  .banner-desc .right .company-desc {
    font-size: 14px;
  }
  .checkout-info-container {
    width: 100%;
  }
  .banner-desc {
    flex-wrap: wrap;
    gap: 20px;
  }
  .hero-banner-container {
    line-height: 1.3;
    display: flex;
    justify-content: center;
  }
  .hero-banner-container h1 {
    font-size: 1.5rem;
  }
  .hero-banner-container h3 {
    font-size: 40px;
  }
  .hero-banner-container button {
    margin-top: 90px;
    z-index: 10000;
  }
  .desc {
    bottom: 60px;
  }
  .product-detail-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .product-price {
    position: absolute;
    bottom: 0px;
    left: 70px;
    margin-bottom: 0px;
  }
  .product-detail-container .product-detail-image {
    width: 250px;
    height: 300px;
  }
  .cart-container {
    width: 100vw;
    padding: 4px;
  }
  /* .cart-heading {
    margin-top: 35px;
    margin-left: 50px;
  } */
  .product-container {
    width: 100%;
    margin-top: 10px;
  }

  .cart-products-container {
    width: 90%;
  }
  .product {
    /* padding: 20px 5px; */
    margin-left: 20px;
  }
  .times-icon-sm {
    position: absolute;
    /* right: 15%; */
  }

  .product .cart-product-image {
    width: 25%;
  }
  .buttons .add-to-cart {
    width: 150px;
  }
  .buttons .buy-now {
    width: 150px;
  }
  .cart-page-container {
    flex-direction: column;
    align-items: center;
  }
  .total-container {
    position: relative;
    width: 80%;
  }

  .item-desc .flex {
    width: 200px;
  }
  .top {
    flex-wrap: wrap;
    gap: 10px;
  }
  .item-desc .bottom {
    margin-top: 30px;
  }
  .flex h5 {
    font-size: 16px;
    /* color: white; */
  }
  .flex h4 {
    font-size: 16px;
    /* color: white; */
  }
  .cart-bottom {
    padding: 30px;
  }

  .total h3 {
    font-size: 20px;
  }
  .track {
    animation: marquee 10s linear infinite;
    width: 550%;
  }
  .success-wrapper,
  .cancel-wrapper {
    min-height: 69vh;
  }
  .success,
  .cancel {
    width: 370px;
    margin-top: 100px;
    padding: 20px;
  }
  .success {
    height: 350px;
  }
  .success h2 {
    font-size: 17px;
  }
  .btn-container {
    width: 300px;
    margin: auto;
  }
}
